.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  padding: 20px;
  color: #333;
}

.App-header {
  background-color: #f0f0f0;
  padding: 40px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.loading,
.greeting {
  font-size: 20px;
  color: #666;
}

.auth {
  margin: 20px 0;
}
